/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Krock
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Krock
----------------------------------------- */

body {
    background-attachment: fixed;
    background-image: url('../images/krockimages/dark_mosaic.png');
    color: white;
}

#artistDescriptions {
    clear: both;
}

#featured > img {
    opacity: 0;
}

#slideshowContainer {
    width: 600px;
    margin: 0 auto;
}