/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Krock
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Krock
----------------------------------------- */

#featured > img {
    opacity: 0;
}

#slideshowContainer {
    width: 600px;
    margin: 0 auto;
}